NODE_ENV=dev
APP_NAME='POST_SERVICE'
ENV_STAGE=dev
BACKEND_DOMAIN=localhost
APP_HOST="0.0.0.0"
APP_PORT=3003

DATABASE_HOST_MASTER="postgres"

DATABASE_PORT=5432
DATABASE_USERNAME=root
DATABASE_PASSWORD=123456

DATABASE_NAME=postdb
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED="false"
DATABASE_REJECT_UNAUTHORIZED="false"
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=