AUTH_SERVICE_HOST='auth-service'
AUTH_SERVICE_PORT=3001

USER_SERVICE_HOST='user-service'
USER_SERVICE_PORT=3002

POST_SERVICE_HOST='post-service'
POST_SERVICE_PORT=3003

IMAGE_SERVICE_HOST='image-service'
IMAGE_SERVICE_PORT=3004
